/*=============================================
=            Possible Colourscheme 1            =
=============================================*/

$black: hsl(0, 7.1%, 16.5%);
$dark-grey: hsl(291.4, 11.7%, 23.5%);
$violet: hsl(266.7, 83.4%, 59.8%);
$yellow: hsl(57, 76.7%, 74.7%);
$light-grey: hsl(92.7, 6.8%, 68.4%);

/*=====  End of Possible Colourscheme 1  ======*/
